# OSX
.DS_Store

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/

# Keystore (don't commit signing keys)
*.jks
*.keystore
key.properties

# Build artifacts
*.apk
*.aab
*.ap_
*.dex

# Bundle
*.jsbundle

# External native build
.externalNativeBuild/
